/* CSS for header, main, footer */
html {
	cursor: url("img/cursor.png"), auto;
}

body {
	font-family: "Archivo Black", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ff1d65;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

header {
	background-color: #ff1d65;
	color: black;
	text-align: center;
	padding: 20px 0;
	font-family: "Gothic", sans-serif;
	position: relative;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 0;
	position: relative;
}

h1 span {
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

main {
	padding: 20px;
	text-align: center;
	max-width: 800px;
	width: 100%;
	box-sizing: border-box;
}

#searchContainer {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#searchInput {
	width: calc(100% - 120px);
	max-width: 300px;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	padding: 10px;
	background-color: white;
	border: 2px solid black;
	color: #111;
	box-shadow: 3px 1px 0px 2px, 0px -1px 0px 2px rgba(0, 0, 0, 0.62);
	height: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: normal;
}

#searchButton {
	padding: 10px 16px; /* Adjusted padding */
	font-size: 16px;
	border-radius: 5px;
	background-color: black;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
	margin-left: 10px; /* Added margin to separate from input */
}

#searchButton:hover {
	background-color: #ff1d65;
	color: #fff;
	cursor: pointer;
}

#songListHeader h2 {
	font-size: 24px;
	color: #ff1d65;
	margin-bottom: 20px;
}

#songListContainer {
	width: 100%;
	max-height: 300px;
	overflow-y: auto;
	margin-right: 0px; /* Adjusted margin to compensate for scrollbar */
}

#songList {
	list-style: none;
	padding: 0;
}

.songItem {
	font-size: 18px;
	font-family: "Arial", sans-serif;
	margin-bottom: 10px;
	cursor: pointer;
	transition: font-size 0.3s, color 0.3s;
}

.songItem:hover {
	font-size: 30px;
	color: black;
}

.lyrics-container {
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	max-height: 400px;
	overflow-y: auto;
	margin: 20px auto;
	max-width: 600px;
}

.go-back-button {
	background-color: #ff1d65;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
}

.go-back-button:hover {
	background-color: #ff4f78;
}

@media (max-width: 600px) {
	h1 {
		font-size: 24px;
	}

	h1 span {
		font-size: 24px;
	}

	main {
		padding: 10px;
	}

	#searchContainer {
		margin-bottom: 10px;
	}

	#searchInput {
		width: calc(100% - 96px); /* Adjusted width */
	}

	#searchButton {
		width: 80px;
		font-size: 14px;
		margin-left: 6px; /* Adjusted margin */
	}

	#songListHeader h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}

	#songListContainer {
		max-height: 200px;
	}

	.lyrics-container {
		padding: 10px;
	}
}

/* CSS for Firefox scrollbar */
/* CSS for Firefox scrollbar */
/* CSS for Firefox scrollbar */
@-moz-document url-prefix() {
	#songListContainer {
		scrollbar-width: thin;

		scrollbar-color: black pink;
	}
}

/* CSS for WebKit-based browsers (Chrome, Safari, etc.) */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	#songListContainer::-webkit-scrollbar {
		width: 10px;
	}

	#songListContainer::-webkit-scrollbar-track {
		background: #ff1d65;
	}

	#songListContainer::-webkit-scrollbar-thumb {
		background: black;
		border-radius: 10px;
		height: 60px;
		width: 10px;
	}

	#songListContainer::-webkit-scrollbar-thumb:hover {
		background: white;
		border-radius: 10px;
		height: 60px;
	}
}
#discord-logo {
	margin-top: 50px;
	width: 50px; /* Adjust the width as needed */
	height: auto; /* Maintain aspect ratio */
	margin-left: auto; /* Push the logo to the right */
}

#discord-message {
	color: black;
	font-size: 14px;
}
@font-face {
	font-family: "Seagram tfb";
	src: url("Seagram tfb.ttf") format("truetype");
	font-weight: thin;
	font-style: normal;
}
#title-thing {
	color: black;

	font-family: "seagram tfb", sans-serif;
}
