/* CSS for header, main, footer */
body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ff1d65;
}

header {
	background-color: #fff;
	color: #ff1d65;
	text-align: center;
	padding: 20px 0;
}

h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 0;
}

main {
	padding: 20px;
}

.search-container {
	margin-bottom: 20px;
}

#searchInput {
	width: calc(100% - 90px);
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#searchButton {
	width: 70px;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #fff;
	color: #ff1d65;
	cursor: pointer;
}

#searchButton:hover {
	background-color: #ff1d65;
	color: #fff;
}

#lyricsDisplay {
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	min-height: 200px;
}


footer {
	background-color: #fff;
	color: #ff1d65;
	text-align: center;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}
